venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
outputs/
build/
*.py[cod]
*.egg-info/
.venv
# 忽略所有wav文件，但保留demos目录中的wav文件
*.wav
!demos/**/*.wav
